body,
html {
  margin: 0px;
}

.form-body {
  background-color: beige;
}

.form-container {
  background-color: white;
  padding: 16px;
  margin: 16px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  padding-top: 16px;

  width: 320px;
}

.form-container form button {
  margin-top: 16px;
}
.message-card {
  background-color: beige;
  padding: 16px;
  margin: 8px;
}

h1 {
  margin: 0px;
}

.button {
  width: fit-content;
  background-color: darkslategray;
  display: block;
  color: white;
  text-decoration: none;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.delete-button {
  color: black;
  padding-left: 8px;
}

nav {
  background-color: darkslategray;
  padding: 8px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 8px;
}

.body-bg {
  background-color: beige;
}

.message-container {
  background-color: white;
  padding: 16px;
  margin: 16px;
}
